<%- include('header') -%>

<section id="terms" style="margin-top: 16vw;">
    <div style="padding: 2vw; align-items: center; margin-left: 1vw;">
        <p>This Privacy Policy describes how Praiz E-Commerce Private Limited ("Company," "we," "us," or "our") collects, uses, and discloses your information when you use our services, and it explains your privacy rights and protections under the law.</p>
        <br>
        <h4>Interpretation and Definitions</h4>
        <br>
        <h4>Interpretation </h4>
        <p>The terms capitalized throughout this Privacy Policy have specific meanings outlined below. These definitions apply whether the terms appear in singular or plural form.</p>
        <br>
        <h4>Definitions</h4>
        <p>For the purposes of this Privacy Policy:</p>
        <ul>
            <li><b>Account:</b> Your unique account created to access our services</li>
            <li><b>Company:</b> Refers to Praiz E-Commerce Private Limited.</li>
            <li><b>Cookies:</b> Small files placed on your device by a website, containing details of your browsing history.</li>
            <li><b>Country:</b> Refers to India.</li>
            <li><b>Device:</b> Any device like a computer, cellphone, or tablet that can access our services.</li>
            <li><b>Personal Data:</b> Information related to an identified or identifiable individual.</li>
            <li><b>Service:</b> Refers to our website and services provided.</li>
            <li><b>Service Provider:</b> Any person or entity processing data on behalf of the Company.</li>
            <li><b>Third-party Social Media Service:</b> Any social network or website allowing users to log in or create accounts.</li>
            <li><b>Usage Data:</b> Data collected automatically, including IP addresses, browser type, and page visits.</li>
            <li><b>Website:</b> Refers to our website accessible at http://praiz.co.in</li>
        </ul>
        <br>
        <h4>Collecting and Using Your Personal Data</h4>
        <br>
        <h4>Types of Data Collected We may collect the following personally identifiable information:</h4>
        <ul>
            <li>Email address</li>
            <li>First name and last name</li>
            <li>Phone number</li>
            <li>Address details (State, Province, ZIP/Postal code, City)</li>
            <li>Usage Data</li>
        </ul>
        <br>
        <h4>Usage Data:</h4>
        <p>This includes information such as IP addresses, browser types, page visits, and device information.</p>
        <br>
        <h4>Tracking Technologies and Cookies:</h4>
        <p>We use cookies and similar technologies to track and store information about your activity on our website.</p>
        <br>
        <h4>Use of Your Personal Data:</h4>
        <p>We may use your Personal Data for various purposes, including:</p>
        <ul>
            <li>Providing and maintaining our services</li>
            <li>Managing your account</li>
            <li>Contacting you and sending updates or promotional information</li>
            <li>Analyzing usage trends and improving our services</li>
        </ul>
        <br>
        <h4>Sharing Your Personal Data</h4>
        <p>We may share your information with service providers, business partners, affiliates, and in other situations outlined in our Privacy Policy.</p><br>
        <h4>Retention and Transfer of Your Personal Data</h4>
        <p>We retain your Personal Data only as long as necessary and may transfer it to locations outside your jurisdiction with adequate data protection measures.</p><br>
        <h4>Disclosure of Your Personal Data</h4> 
        <p>We may disclose your Personal Data in compliance with legal obligations or for other legitimate purposes outlined in this Privacy Policy.</p><br>
        <h4>Security of Your Personal Data</h4> 
        <p>While we employ security measures, no method of transmission over the Internet is 100% secure. We strive to protect your Personal Data but cannot guarantee absolute security.</p><br>
        <h4>Children's Privacy</h4> 
        <p>Our services are not directed to children under 13, and we do not knowingly collect information from them without parental consent.</p><br>
        <h4>Links to Other Websites</h4> 
        <p>Our website may contain links to third-party sites not operated by us. We have no control over their content or policies.</p><br>
        <h4>Changes to this Privacy Policy</h4> 
        <p>We may update this Privacy Policy, and we'll notify you of any changes through email or a notice on our website.</p><br>


        <p><b>Contact Us If you have questions about this Privacy Policy, please contact us at wearepraizwear@gmail.com</b></p>
    </div>
</section>

<%- include('footer') -%>