<%- include('header') -%>
    <!-- Mobile View Buttons -->

    <section id="error">
        <div class="error-outer">
            <div class="error-inner">
                <div class="error-inner" style="width: 80vw; height: 70vw; margin-top: 35vw; display: flex; flex-direction: column; padding: 5vw; margin-left: auto; margin-right: auto;">
                    <div class="error-img">
                        <img src="/images/logo/launching-offers.png" style=" width: auto; height: 30vw;">
                    </div>
                    <p class="error-msg" style="font-size: 5vw; font-family: 'Gilda Display', serif; line-height: 7vw;"><%= error_msg %></p>
            </div>
        </div>
    </section>


<!-- Footer -->
<%- include('footer') -%>