<footer class="text-center text-lg-start">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
        <!-- Left -->
        <div class="me-5 d-none d-lg-block">
            <span>Get connected with us on social networks:</span>
        </div>
        <!-- Left -->

        <!-- Right -->
        <div>
            <a href="https://www.facebook.com/profile.php?id=61558631331441" class="me-4 link-secondary">
                <i class="fa-brands fa-facebook-f" style="color: #fafafa;"></i>
            </a>
            <a href="" class="me-4 link-secondary">
                <i class="fa-brands fa-x-twitter" style="color: #fafafa;"></i>
            </a>
            <!-- <a href="" class="me-4 link-secondary">
                <i class="fa-brands fa-google" style="color: #fafafa;"></i>
            </a> -->
            <a href="https://www.instagram.com/praiz.co.in?igsh=MTJoanR0MGRxeHRxdQ%3D%3D&utm_source=qr" class="me-4 link-secondary">
                <i class="fa-brands fa-instagram" style="color: #fafafa;"></i>
            </a>
            <a href="https://www.linkedin.com/company/praizshop/" class="me-4 link-secondary">
                <i class="fa-brands fa-linkedin-in" style="color: #fafafa;"></i>
            </a>
            <a href="https://pin.it/6QM2G0UgF" class="me-4 link-secondary">
                <i class="fa-brands fa-pinterest-p" style="color: #fafafa;"></i>
            </a>
        </div>
        <!-- Right -->
    </section>
    <!-- Section: Social media -->

    <!-- Section: Links  -->
    <section class="down-footer">
        <div class="container text-center text-md-start mt-5">
            <!-- Grid row -->
            <div class="row mt-3">
                <!-- Grid column -->
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <!-- Content -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        <i class="fas fa-gem me-3 text-secondary text-white"></i>Our Company
                    </h6>
                    <p>
                        Explore an extensive range of affordable fine jewellery meticulously curated to enhance your sophistication and style. Find timeless pieces that elevate your elegance effortlessly
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        <a href=/blog style="color: #fafafa">Blog</a>
                    </h6>
                    <p>
                        <a href="#!" class="text-reset">Jwellery Care</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Ring Size</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Jwellery Styling</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">More...</a>
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        Guest Care
                    </h6>
                    <p>
                        <a href="/returnPolicy" class="text-reset">Return Policy</a>
                    </p>
                    <p>
                        <a href="/aboutUs" class="text-reset">Privacy Policy</a>
                    </p>
                    <p>
                        <a href="/shipping" class="text-reset">Shipping Policy</a>
                    </p>
                    <p>
                        <a href="/terms&conditions" class="text-reset">Terms and Conditions</a>
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">Contact Us</h6>
                    <p>
                        <i class="fas fa-envelope me-3"></i>
                        wecare@praiz.co.in
                    </p>
                    <p><i class="fas fa-phone me-3"></i> + 91 9899039649</p>
                    <p><i>* 9am to 10pm- 7 Days a Week *</i></p>
                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row -->
        </div>
    </section>
    <!-- Section: Links  -->
</footer>
<!-- Footer -->


 <!-- Product.js -->
 <script src="/js/product.js"></script>
 <script src="/js/cartPage.js"></script>
 <script src="/js/login.js"></script>

 <!--Bootstrap 5 js-->
 <script src="/js/bootstrap.min.js"></script>
 <!--Bootstrap 5 js-->
 <script src="/js/main.js"></script>
 <script src="/js/myAccount.js"></script>
 <script src="/js/individual-product.js"></script>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="/js/single-prod.js"></script>
<script src="/js/product_banner.js"></script>
<!-- Payment -->
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>

</body>

</html>
