<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <!-- Meta Title -->
    <title>Praiz</title>
    
    <!-- Meta Description -->
    <meta name="description" content="PRAIZ is your gateway to budget luxury in modern fashion accessories. We specialize in offering affordable yet stylish jewelry for everyone. Our commitment is to make fashion-forward accessories accessible, ensuring you can elevate your style without breaking the bank.">

    <!-- Meta Keywords (Optional) -->
    <meta name="keywords" content="Everyday Elegance, Best Sellers, Party Wear, Office Wear">

    <!-- Meta Author -->
    <meta name="author" content="PRAIZ - Retail Apparel and Fashion">

    <!-- Meta Robots (Optional) -->
    <meta name="robots" content="index, follow"> <!-- This allows search engines to index and follow links on your page -->

    <!-- Meta Viewport (For Responsive Design) -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Meta Charset -->
    <meta charset="UTF-8">

    <!-- Open Graph Meta Tags (For Social Media) -->
    <meta property="og:title" content="Praiz">
    <meta property="og:description" content="Shine in style! âœ¨ Whether you prefer the timeless elegance of gold or the sleek sophistication of silver, PRAIZ has you covered. Discover our stunning collection and find the perfect piece to elevate your look. ðŸ’">
    <meta property="og:image" content="https://res.cloudinary.com/deledfivo/image/upload/v1715024365/PRAIZ-LOGO-FULL_owsw5u_nrddnf.jpg">
    <meta property="og:url" content="https://praiz.co.in">
    <meta property="og:type" content="website">

    
    <!-- Favicon -->
    <link rel="icon" sizes="192x192" href="/images/logo/PRAIZ-LOGO.jpg">
    <link rel="icon" type="image/jpg" sizes="512x512" href="/images/logo/PRAIZ-LOGO.jpg">
    <link rel="icon" type="image/jpg" sizes="16x16" href="/images/logo/PRAIZ-LOGO.jpg">
    <link rel="manifest" href="/images/favicon_io/site.webmanifest">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Belleza&family=Gilda+Display&display=swap" rel="stylesheet">

    <!--Themefy CSS-->
    <link rel="stylesheet" href="/themify-icons-font/themify-icons.css">

    <!-- Bootstrap 5 CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">

    <!-- Bootstrap-Vue start -->
    <!-- Load required Bootstrap and BootstrapVue CSS -->
<link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
<link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css" />

<!-- Load polyfills to support older browsers -->
<script src="https://polyfill.io/v3/polyfill.min.js?features=es2015%2CIntersectionObserver" crossorigin="anonymous"></script>

<!-- Load Vue followed by BootstrapVue -->
<script src="https://unpkg.com/vue@latest/dist/vue.min.js"></script>
<script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>

<!-- Load the following for BootstrapVueIcons support -->
<script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue-icons.min.js"></script>

<!-- Bootstrap-Vue end -->

    <!--My CSS Styles-->
    <link rel='stylesheet' type='text/css' media='screen' href='/css/main.css'>

    <!--Resposive 5 css-->
    <link rel="stylesheet" type='text/css' href="/css/responsive.css">

    <script src="https://kit.fontawesome.com/86c248a3a6.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src='/js/main.js'></script>

    <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-NG772HQ5');</script>
    <!-- End Google Tag Manager -->

<!-- RazorPay -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

</head>

<body data-bs-spy="scroll" data-bs-target=".navbar">

    <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NG772HQ5"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <!-- Top Messege bar -->

    <!--Navigation Section-->
    <section id="header">

        <div class="top-bar d-none d-lg-flex">
            <div class="announcement-bar">
                
            </div>

        </div>
        
        <nav class="navbar navbar-expand-lg fixed-top expanded">

            <div class="top-bar d-md-flex d-lg-none">
                <div class="announcement-bar">
                   
                </div>
    
            </div>

            <div class="container">
                <a class="navbar-brand" href="/user">
                    <img src="/images/logo/logo.png" class="brand-logo img-fluid">
                </a>

                <form class="form-inline .d-none .d-sm-block" action="/search" method="GET">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" name="search" aria-label="Search">
                    <i class="fa-solid fa-magnifying-glass" style="color: #ffffff;"></i>
                </form>
                <div class="nav-right-btn">

                    <a href="/product/wishlist" class="nav-wishlist"><i class="fa-solid fa-heart"
                            style="color: #ffffff;"></i>
                    </a>

                    <a href="/user/cart" class="nav-cart" id="navCart">
                        <i class="fa-solid fa-cart-shopping" style="color: #ffffff;"></i>
                        <% if(!user || user === " " || user === undefined){ %>
                            <input type="text" id="cartCountInput" class="cart-count" readonly value=0>
                        <% } else { %>
                            <input type="text" id="cartCountInput" class="cart-count" readonly value="<%= user?.cart?.length %>">
                        <% } %>
                    </a>

                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">

                        <!-- button icon -->
                        <i class="fa-solid fa-bars" style="color: #eceff4;"></i>

                    </button>
                </div>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">

                        <li class="nav-item product-dropdown">
                            <a class="nav-link product-dropdown-btn" href="#our-products">Our Products 
                                <i class="fa-solid fa-caret-right" style="color: #ffffff;"></i></a>
                            <ul class="drop-down">
                                <a class="necklace">
                                    <li>
                                        <span>Necklace</span>
                                        <i class="fa-solid fa-caret-right" style="color: #ffffff;"></i>
                                    </li>

                                </a>

                                <ul class="sub-drop drop-down-necklace">
                                    <a href="/product/?category=Necklace"><h6>All Necklaces</h6></a>
                                    <h6>Shop by Colour</h6>
                                    <a href="/product/?category=Necklace&color=Silver"><li>Silver</li></a>
                                    <a href="/product/?category=Necklace&color=Gold"><li>Gold</li></a>
                                    <a href="/product/?category=Necklace&color=Rose Gold"><li>Rose Gold</li></a>
                                    <h6>Shop by Style</h6>
                                    <a href="necklace.html"><li>Casual</li></a>
                                    <a href="/product/?category=Necklace&style=Party"><li>Party</li></a>
                                    <a href="/product/?category=Necklace&style=Office"><li>Office</li></a>
                                    <a href="/product/?category=Necklace&style=traditional"><li>Traditional</li></a>
    
                                </ul>
                                
                                <a class="earring">
                                    <li>
                                        <span>Earrings</span>
                                        <i class="fa-solid fa-caret-right" style="color: #ffffff;"></i>

                                    </li>
                                </a>

                                <ul class="sub-drop drop-down-earring">
                                    <a href="/product/?category=Earrings"><h6>All Earrings</h6></a>
                                    <h6>Shop by Colour</h6>
                                    <a href="/product/?category=Earrings&color=Silver"><li>Silver</li></a>
                                    <a href="/product/?category=Earrings&color=Gold"><li>Gold</li></a>
                                    <a href="/product/?category=Earrings&color=Rose Gold"><li>Rose Gold</li></a>
                                    <h6>Shop by Style</h6>
                                    <a href="/product/?category=Earrings&style=casual"><li>Casual</li></a>
                                    <a href="/product/?category=Earrings&style=Party"><li>Party</li></a>
                                    <a href="/product/?category=Earrings&style=Office"><li>Office</li></a>
                                    <a href="/product/?category=Earrings&style=traditional"><li>Traditional</li></a>
    
                                </ul>

                                <a class="ring">
                                    <li>
                                        <span>Rings</span>
                                        <i class="fa-solid fa-caret-right" style="color: #ffffff;"></i>
                                    </li>
                                </a>

                                <ul class="sub-drop drop-down-ring">
                                    <a href="/product/?cate/product/?category=Rings"><h6>All Rings</h6></a>
                                    <h6>Shop by Colour</h6>
                                    <a href="/product/?cate/product/?category=Rings&color=Silver"><li>Silver</li></a>
                                    <a href="/product/?cate/product/?category=Rings&color=Gold"><li>Gold</li></a>
                                    <a href="/product/?cate/product/?category=Rings&color=Rose Gold"><li>Rose Gold</li></a>
                                    <h6>Shop by Style</h6>
                                    <a href="/product/?cate/product/?category=Rings&style=casual"><li>Casual</li></a>
                                    <a href="/product/?cate/product/?category=Rings&style=Party"><li>Party</li></a>
                                    <a href="/product/?cate/product/?category=Rings&style=office"><li>Office</li></a>
                                    <a href="/product/?cate/product/?category=Rings&style=traditional"><li>Traditional</li></a>
    
                                </ul>

                                <a class="bracelet">
                                    <li>
                                        <span>Bracelets</span>
                                        <i class="fa-solid fa-caret-right" style="color: #ffffff;"></i>
                                    </li>
                                </a>

                                <ul class="sub-drop drop-down-bracelet">
                                    <a href="/product/?category=Bracelets"><h6>All Bracelets</h6></a>
                                    <h6>Shop by Colour</h6>
                                    <a href="/product/?category=Bracelets&color=Silver"><li>Silver</li></a>
                                    <a href="/product/?category=Bracelets&color=Gold"><li>Gold</li></a>
                                    <a href="/product/?category=Bracelets&color=Rose Gold"><li>Rose Gold</li></a>
                                    <h6>Shop by Style</h6>
                                    <a href="/product/?category=Bracelets&style=casual"><li>Casual</li></a>
                                    <a href="/product/?category=Bracelets&style=Party"><li>Party</li></a>
                                    <a href="/product/?category=Bracelets&style=Office"><li>Office</li></a>
                                    <a href="/product/?category=Bracelets&style=traditional"><li>Traditional</li></a>
    
                                </ul>

                            </ul>

                            <ul class="sub-drop drop-down-necklace d-none d-lg-block">
                                <a href="/product/?category=Necklace"><h6>All Necklaces</h6></a>
                                <h6>Shop by Colour</h6>
                                <a href="/product/?category=Necklace&color=Silver"><li>Silver</li></a>
                                <a href="/product/?category=Necklace&color=Gold"><li>Gold</li></a>
                                <a href="/product/?category=Necklace&color=Rose Gold"><li>Rose Gold</li></a>
                                <h6>Shop by Style</h6>
                                <a href="/product/?category=Necklace&style=casual"><li>Casual</li></a>
                                <a href="/product/?category=Necklace&style=Party"><li>Party</li></a>
                                <a href="/product/?category=Necklace&style=Office"><li>Office</li></a>
                                <a href="/product/?category=Necklace&style=traditional"><li>Traditional</li></a>

                            </ul>

                            <ul class="sub-drop drop-down-earring d-none d-lg-block">
                                <a href="/product/?category=Earrings"><h6>All Earrings</h6></a>
                                <h6>Shop by Colour</h6>
                                <a href="/product/?category=Earrings&color=Silver"><li>Silver</li></a>
                                <a href="/product/?category=Earrings&color=Gold"><li>Gold</li></a>
                                <a href="/product/?category=Earrings&color=Rose Gold"><li>Rose Gold</li></a>
                                <h6>Shop by Style</h6>
                                <a href="n/product/?category=Earrings&style=Party"><li>Party</li></a>
                                <a href="/product/?category=Earrings&style=Office"><li>Office</li></a>
                                <a href="/product/?category=Earrings&style=traditional"><li>Traditional</li></a>

                            </ul>

                            <ul class="sub-drop drop-down-ring d-none d-lg-block">
                                <a href="/product/?category=Rings"><h6>All Rings</h6></a>
                                <h6>Shop by Colour</h6>
                                <a href="/product/?category=Rings&color=Silver"><li>Silver</li></a>
                                <a href="/product/?category=Rings&color=Gold"><li>Gold</li></a>
                                <a href="/product/?category=Rings&color=Rose Gold"><li>Rose Gold</li></a>
                                <h6>Shop by Style</h6>
                                <a href="/product/?category=Rings"><li>Casual</li></a>
                                <a href="/product/?category=Rings&style=Party"><li>Party</li></a>
                                <a href="/product/?category=Rings&style=Office"><li>Office</li></a>
                                <a href="/product/?category=Rings&style=traditional"><li>Traditional</li></a>

                            </ul>

                            <ul class="sub-drop drop-down-bracelet d-none d-lg-block">
                                <a href="/product/?category=Bracelets"><h6>All Bracelets</h6></a>
                                <h6>Shop by Colour</h6>
                                <a href="/product/?category=Bracelets&color=Silver"><li>Silver</li></a>
                                <a href="/product/?category=Bracelets&color=Gold"><li>Gold</li></a>
                                <a href="/product/?category=Bracelets&color=Rose Gold"><li>Rose Gold</li></a>
                                <h6>Shop by Style</h6>
                                <a href="/product/?category=Bracelets&style=casual"><li>Casual</li></a>
                                <a href="/product/?category=Bracelets&style=Party"><li>Party</li></a>
                                <a href="/product/?category=Bracelets&style=Oddice"><li>Office</li></a>
                                <a href="/product/?category=Bracelets&style=traditional"><li>Traditional</li></a>

                            </ul>

                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/sale">Sale</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/product/wishlist">Wishlist</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/user/cart">Cart</a>
                        </li>
                        <li class="nav-item">
                                <% if (user && (user.firstname !== " " && user !== " ")) { %>
                                    <a class="nav-link" href="/viewAccount"><%= user.firstname %></a>
                                <% } else { %>
                                    <a class="nav-link" href="/myacc">My Account</a>    
                                <% } %>
                        </li>
                        <li class="nav-item">
                            <% if(user && user.role == "admin") { %>
                                <a class="nav-link" href="/admin">Admin</a>
                            <% } %>
                        </li>
                    </ul>
                </div>
                <form class="form-mob form-inline" action="/search" method="GET">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" name="search" aria-label="Search">
                    <i class="fa-solid fa-magnifying-glass" style="color: #ffffff;"></i>
                </form>
            </div>
        </nav>
    </section>