<%- include('header') -%>

<section id="policy" style="margin-top: 16vw;">
    <div style="padding: 2vw; align-items: center; margin-left: 1vw;">
        <h3>Refunds and Returns Policy - Praiz E-commerce Private Limited</h3>
        <h3>Effective Date: March 5, 2024</h3>
        <br>
        <h4>Overview:</h4>
        <p>Welcome to Praiz E-commerce Private Limited! We strive to ensure your satisfaction with our products and services. This Refunds and Returns Policy outlines the procedures, conditions, and timeframes for returning products and obtaining refunds. Please read this policy carefully to understand your rights and obligations.</p>
        <br>
        <h4>1. Return and Refunds:</h4>
        <p>&nbsp; &nbsp; • We do not offer returns. Products can only be exchanged or refunded if they are defective or damaged.
        </p>
        <br>
        <h4>2. Exchanges:</h4>
        <p>&nbsp; &nbsp;  • Products can be exchanged within 7 days of receiving them.<br>
            &nbsp; &nbsp; • To initiate an exchange, please contact Customer Support at praizyourelegance@gmail.com, providing your order number and reason for exchange.<br>
            &nbsp; &nbsp; • Exchanged products must be in their original condition and packaging.<br>
        </p>
        <br>
        <h4>3. Inspection and Approval:</h4>
        <p>&nbsp; &nbsp; • Returned products will be inspected upon receipt.<br>
            &nbsp; &nbsp; • Approved exchanges and refunds will be processed within 7 business days.<br>
        </p>
        <br>
        <h4>4. Non-Refundable Items:</h4>
        <p>&nbsp; &nbsp; • Some products are non-refundable unless damaged or defective.<br>
            &nbsp; &nbsp; • Non-refundable items are clearly marked on the product page.
        </p>
        <br>
        <h4>5. Contact Information:</h4>
        <p>&nbsp; &nbsp; • Email: praizyourelegance@gmail.com<br>
           &nbsp; &nbsp; • Address: Bg5/47D Paschim Vihar, New Delhi-110063
        </p>
        <br>
        <h4>6. Customer Support:</h4>
        <p>For assistance or inquiries, contact our Customer Support team at praizyourelegance@gmail.com.
        </p>
        <br>
        <h4>7. Amendments:</h4>
        <p>Praiz E-commerce Private Limited reserves the right to amend this policy at any time. Any changes will be effective immediately and will be communicated through our website.
        </p>
        <br>
        <h4>Conclusion:</h4>
        <p>We appreciate your business and are committed to providing a fair and transparent returns and refunds process. If you have any questions or concerns, please reach out to our Customer Support team.</p>
        <br>
        <p>Thank you for choosing Praiz E-commerce Private Limited!</p>
        <br>
        <h6>Date of Last Revision: March 30th, 2024</h6>
    </div>
</section>

<%- include('footer') -%>