<%- include('header') -%>

 <!-- Offer Zone -->
 <div class="offers-mob">
    <div class="container">
        <div class="row">
            <div class="col-6 offer">
                <div class="offer-1">
                    <!-- offer img in css  -->
                </div>
            </div>

            <div class="col-6 offer">
                <div class="offer-2">
                    <!-- offer img in css  -->
                </div>
            </div>

            <div class="col-6 offer">
                <div class="offer-3">
                    <!-- offer img in css  -->
                </div>
            </div>

            <div class="col-6 offer">
                <div class="offer-4">
                    <!-- offer img in css  -->
                </div>
            </div>
        </div>
    </div>
</div>
<div class="offers">
    <div class="container">
        <div class="row">
            <!-- Offer Box One -->
            <div class="box-1 col-sm-6 col-lg-4 mb-lg-0 mb-4">
                <a href="#">
                    <div class="offer-box text-center position-relative">
                        <div class="offer-inner">
                            <div class="offer-image position-relative overflow-hidden">
                                <img src="/images/Banner/Offer-banner/left.png" alt="offers" class="img-fluid">

                                <!-- OVERLAY -->

                                <div class="offer-overlay"></div>
                            </div>
                            <div class="offer-info">
                                <div class="offer-info-inner">
                                    <p class="heading-bigger text-capitalize golden-text">Everyday Elegance</p>
                                    <!-- <p class="offer-title-1 font-weight-bold">Don't Miss This Chance</p> -->
                                    <button type="button" class="btn btn-light text-uppercase mt-4">Shop
                                        Now</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!-- Offer Box Two -->

            <div class="box-2 col-sm-6 col-lg-4 mb-lg-0 mb-4 d-flex flex-column justify-content-between">
                <a href="#">
                    <div class="offer-box text-center position-relative mb-4 mb-sm-0 mb-lg-0">
                        <div class="offer-inner">
                            <div class="offer-image position-relative overflow-hidden">
                                <img src="/images/Banner/Offer-banner/top.png" alt="offers" class="img-fluid">
                                <div class="offer-overlay"></div>
                            </div>
                            <div class="offer-info">
                                <div class="offer-info-inner">
                                    <p class="heading-bigger text-capitalize">Best Sellers</p>
                                    <!-- <p class="offer-title-1 font-weight-bold">Don't Miss This Chance</p> -->
                                    <button type="button" class="btn btn-light text-uppercase mt-4">Shop
                                        Now</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="#">
                    <div class="offer-box text-center position-relative">
                        <div class="offer-inner">
                            <div class="offer-image position-relative overflow-hidden">
                                <img src="/images/Banner/Offer-banner/bottom.png" alt="offers" class="img-fluid">
                                <div class="offer-overlay"></div>
                            </div>
                            <div class="offer-info">
                                <div class="offer-info-inner">
                                    <p class="heading-bigger text-capitalize">Party Wear</p>
                                    <!-- <p class="offer-title-1 font-weight-bold">Don't Miss This Chance</p> -->
                                    <button type="button" class="btn btn-light text-uppercase mt-4">Shop
                                        Now</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!-- Offer Box Three -->

            <div class="box-3 col-sm-12 col-lg-4 mb-lg-0 mb-4">
                <a href="#">
                    <div class="offer-box text-center position-relative">
                        <div class="offer-inner">
                            <div class="offer-image position-relative overflow-hidden">
                                <img src="/images/Banner/Offer-banner/right.png" alt="offers" class="img-fluid">
                                <div class="offer-overlay"></div>
                            </div>
                            <div class="offer-info">
                                <div class="offer-info-inner">
                                    <p class="heading-bigger text-capitalize">Office Wear</p>
                                    <!-- <p class="offer-title-1 font-weight-bold">Don't Miss This Chance</p> -->
                                    <button type="button" class="btn btn-light text-uppercase mt-4">Shop
                                        Now</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

<%- include('footer') -%>