<%- include('header') -%>

<!-- Top Banner -->
<div class="top-banner">
    <div class="loc"><a href="/">Home</a></div>
    <div class="thankyou-banner"></div>
</div>

<!-- Mobile View Buttons -->

<section id="thankyou-page">
    <div class="thankyou-title container">
        <div class="thank-text">
            <img src="/images/Thankyou/thankyou.png">
        </div>
    </div>
    <div class="confirmation text-center">
        We recieved your order. <br>
        We'll be providing you with shipping updates via WhatsApp
    </div>

    <!-- <div class="order-dets">
        <div class="order-dets-inner">
            <h1 class="summary-head">Order Summary</h1>
            <div class="order-id">
                <div class="id-head"></div>
                <div class="id-number"></div>
            </div>

            <div class="shipping-add">
                <div class="shipping-add-head"></div>
                <div class="shipping-address-dets"></div>
            </div>

            <div class="query-note">
                <div class="query-note"></div>
            </div>
        </div>
    </div> -->

</section>

<%- include('footer') -%>